*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient( #ffffff80, #0000ff80, #ff000080),  url("https://media3.giphy.com/media/qrhKvS6Kz8yfC/giphy.gif?cid=790b7611b50846ad6423f18d59d606e0ea7e412a39972fa3&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    font-size:22px;
    padding: 20px 0;
}

form{
    background: rgba(#ff0000, #ffff00, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    width:  50%;
    margin: auto;
    padding: 50px 100px;
    text-align: center;
}

h2{
    margin-bottom: 25px;

}

label{
    display: block;
    margin: 25px 0;
}

input, textarea{
    background-color: transparent;
    padding: 15px;
    border: 4px solid white;
    border-radius: 25px;
    width: 100%;

    color: white;
    font-size: 24px;
}

input[type="radio"],
input[type="checkbox"]
{
    width: 20px;

}

.left-side{
    text-align: left;
}
button{
    border: none;
    width: 150px;
    padding: 12px;
    color: white;
    border-radius: 15px;
    background-image: linear-gradient( #ffffff80, #0000ff80, #ff000080);
}