.mon
 {
    font-family: 'Montserrat', sans-serif;
}
.versrion900 
{
 font-weight: 900;
}
.versrion700 
{
 font-weight: 700;
}
.navla
{
    font-family: 'Nabla', cursive;
}
.bandy
{
    font-family: 'Bungee Spice', cursive; font-size: 100pt;
}